@page
@model TestDeloitteApp.Pages.TesterModel
@{
}
<form method="post">
    <div class="row">
        
    <div class="col-12">
            <input asp-for="TestString" class="form-control" />
    </div>
        <div class="col-12">
            <input asp-for="TestString2" class="form-control" />
        </div>

    </div>
    <div class="row">
        <button class="btn btn-success">Save</button>
    </div>


</form>